@import "./reset.css";
@import '~antd/dist/antd.css';

#root {
    height: 100%;
}

.ant-popover-buttons {
    text-align: center !important;
}

body {
    min-width: 700px;
    background: rgb(240,242,245);
    /*min-height: 700px;*/
}
